/* some style */
body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
}
span.done {
  color: grey;
  text-decoration: line-through;
}
li.todo {
  list-style-type: none;
}
li.todo > span {
  margin-left: 5px;
}